.places__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}

/*3-4-5*/
@media screen and (max-width: 1023px) {
  .places__paragraph {
    font-size: 16px;
  }
}
