.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  gap: 16px;
  justify-content: center;
}

/*2*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: calc(100vw - (48px*2));
    grid-template-columns: repeat(3, 1fr); /*фракции для того,
    чтобы ячейки с картинками внутри стали резиновыми и увеличивались-уменьшились в зависимости от ширины вьюпорта/блока*/
    gap: 14px;
  }
}

/*3*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(2, 1fr);/*фракции для того,
    чтобы ячейки с картинками внутри стали резиновыми и увеличивались-уменьшились в зависимости от ширины вьюпорта/блока*/
    gap: 16px;
  }
}

/*4*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(2, 1fr);/*фракции для того,
    чтобы ячейки с картинками внутри стали резиновыми и увеличивались-уменьшились в зависимости от ширины вьюпорта/блока*/
    gap: 12px;
  }
}

/*5*/
@media screen and (max-width: 424px) {
  .photo-grid {
    max-width: calc(100vw - 32px);
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
/*
object-fit: cover;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
  grid-auto-rows: minmax(min-content, max-content);
*/
