.places {
  max-width: 984px;
  display: grid;
  row-gap: 80px;
}

/*2*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    max-width: calc(100vw - (48px*2));
  }
}

/*3*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .places {
    max-width: calc(100vw - (24px*2));
    row-gap: 73px;
  }
}

/*4-5*/
@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
    row-gap: 50px;
  }
}
