.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 690px;
}

/*3*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    max-width: 100%;
  }
}
