.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*2*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    max-width: calc(100vw - (48px*2));
  }
}
