.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 1; /*ставим блок над блоком оверлей, чтобы он не затенялся*/

}
