.footer__link {
  margin-right: 18px;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer__link:last-of-type {
  margin-right: 0;
}

/*4*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }

  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}

/*5*/
@media screen and (max-width: 424px) {
  .footer__link {
    margin-right: 0;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }

  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}
