.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

/*4*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer__links {
    flex-wrap: wrap;
    flex-direction: column;
  }

}

/*5*/
@media screen and (max-width: 424px) {
  .footer__links {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
