.footer__copyright {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #FFFFFF;
}

/*4*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .footer__copyright {
    line-height: 1;
  }
}

/*5*/
@media screen and (max-width: 424px) {
  .footer__copyright {
    line-height: 1;
  }
}
