.cover {
  max-width: 1184px;
  min-height: 740px;
  position: relative; /*позиционируем относительно, чтобы вложенные блоки позиционировать относительно этого*/
}

 /*2-3-4-5*/
@media screen and (max-width: 1279px) {
  .cover {
    min-height: calc(100vw * 0.625);
    /*0,625 - соотношение сторон блока cover: h/w = 62,5%.
    значение постоянное во всех разрешениях,
    поэтому всегда ширину экрана умножаем на нее, получается плавное резиновое сжатие блока*/
  }
}
