.cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 0; /*подкладываем оверлей под блоки заголовка и подзаголовка, чтобы они не затенялись*/
  background: #2A2C2F;
  opacity: 0.3; /*затемненный на .3 фон до наведения мыши*/
  transition: opacity .8s ease;  /*плавность затемнения при снятии мышки с блока*/
}

.cover__link:hover .cover__overlay {
  /*затемненный на .8 фон после наведения мыши
  через вложенный селектор: при наведении на весь родительский блок,
  св-ва задаются вложенному блоку с классом cover__overlay.
  По-другому не работает*/
  opacity: 0.8; /*затемненный на .8 фон после наведения мыши*/
  transition: opacity .8s ease; /*плавность затемнения при наведении мышки на блок*/
}

/*
transition: opacity 0.5s;
  transition-timing-function: ease-in-out;

.cover__link:hover {

    -webkit-filter: brightness(.2);
    filter: brightness(.2);
    transition: filter 0.5s;
    transition: -webkit-filter 0.5s;

}
*/
