.page__section_margin_unique {
  margin-bottom: 92px;
}

/*3*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page__section_margin_unique {
    margin-bottom: 90px;
  }
}

/*4-5*/
@media screen and (max-width: 767px) {
  .page__section_margin_unique {
    margin-bottom: 66px;
  }
}
