.footer {
  padding-bottom: 24px;
  padding-right: 48px;
  padding-left: 48px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

/*3*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/*3-4-5*/
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}
/*3.5*/
@media screen and (min-width: 550px) and (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
    align-items: stretch;
  }
}

/*4-5*/
@media screen and (max-width: 549px) {
  .footer {
    padding-right: 16px;
    padding-left: 16px;
    max-width: 1184px;
    align-items: flex-start;
  }
}
