.lead__map {
  width: calc(100% - 4.76727642%);
  height: calc(100% - 57.2373984%);
  margin-top: 9.16768293%;
  background-image: url(../../../images/Group4.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
