.intro__title {
  margin: 0;
  margin-bottom: 40px;
  max-width: 690px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

/*4*/
@media screen and (min-width: 425px) and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

/*5*/
@media screen and (max-width: 424px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
